{% block customCss %}
    <link rel="stylesheet" href="{{url_for('static',filename='./css/home.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/usuarios.css')}}">
{% endblock %}
<div class="contenedorhome">
            <div class="contenedor">
                <div class="contabla">
                    <table>
                        <thead>
                            <tr><td>USER</td><td>NOMBRE</td><td>WHATSAPP</td></tr>
                        </thead>
                        {% for users in usu %}
                        <tbody>
                            <tr>
                                <td style="padding: 3px;">
                                    {{users[1]}}
                                </td>
                                <td style="padding: 3px;">
                                    {{users[3]}}
                                </td>
                                <td style="padding: 3px;">
                                    {{users[4]}}
                                </td>
                            </tr>
                        </tbody>
                        {% endfor %}
                </table>
                </div>
            </div>
    
    </div>
</div>
{% block JS %}
{% endblock%}