<input type="text" id='soladol' value="{{cambio[1]}}" hidden>
<input type="text" id='solareal' value="{{cambio[2]}}" hidden>
<input type="text" id='usdasol' value="{{cambio[3]}}" hidden>
<input type="text" id='usdareal' value="{{cambio[4]}}" hidden>
<input type="text" id='realapen' value="{{cambio[5]}}" hidden>
<input type="text" id='realausd' value="{{cambio[6]}}" hidden>
<!--penabrl//-->
{% for cpenabrl in copenabrl %}
<input type="text" id="co100a199penabrl" value="{{cpenabrl[1]}}" hidden>
<input type="text" id="co200a299penabrl" value="{{cpenabrl[2]}}" hidden>
<input type="text" id="co300a499penabrl" value="{{cpenabrl[3]}}" hidden>
<input type="text" id="co500a999penabrl" value="{{cpenabrl[4]}}" hidden>
<input type="text" id="co1000a4999penabrl" value="{{cpenabrl[5]}}" hidden>
<input type="text" id="co5000a10000penabrl" value="{{cpenabrl[6]}}" hidden>
{% endfor %}
{% for inpenabrl in invpenabrl %}
<input type="text" id="in100a199penabrl" value="{{inpenabrl[1]}}"hidden>
<input type="text" id="in200a299penabrl" value="{{inpenabrl[2]}}" hidden>
<input type="text" id="in300a499penabrl" value="{{inpenabrl[3]}}" hidden>
<input type="text" id="in500a999penabrl" value="{{inpenabrl[4]}}" hidden>
<input type="text" id="in1000a4999penabrl" value="{{inpenabrl[5]}}" hidden>
<input type="text" id="in5000a10000penabrl" value="{{inpenabrl[6]}}" hidden>
{% endfor %}
<!--brlapen//-->
{% for cbrlapen in cobrlapen %}
<input type="text" id="co100a199brlapen" value="{{cbrlapen[1]}}" hidden>
<input type="text" id="co200a299brlapen" value="{{cbrlapen[2]}}" hidden>
<input type="text" id="co300a499brlapen" value="{{cbrlapen[3]}}" hidden>
<input type="text" id="co500a999brlapen" value="{{cbrlapen[4]}}" hidden>
<input type="text" id="co1000a4999brlapen" value="{{cbrlapen[5]}}" hidden>
<input type="text" id="co5000a10000brlapen" value="{{cbrlapen[6]}}" hidden>
{% endfor %}
{% for inbrlapen in invbrlapen %}
<input type="text" id="in100a199brlapen" value="{{inbrlapen[1]}}" hidden>
<input type="text" id="in200a299brlapen" value="{{inbrlapen[2]}}" hidden>
<input type="text" id="in300a499brlapen" value="{{inbrlapen[3]}}" hidden>
<input type="text" id="in500a999brlapen" value="{{inbrlapen[4]}}" hidden>
<input type="text" id="in1000a4999brlapen" value="{{inbrlapen[5]}}" hidden>
<input type="text" id="in5000a10000brlapen" value="{{inbrlapen[6]}}" hidden>
{% endfor %}
<!--brlausd//-->
{% for cbrlausd in cobrlausd %}
<input type="text" id="co100a199brlausd" value="{{cbrlausd[1]}}" hidden>
<input type="text" id="co200a299brlausd" value="{{cbrlausd[2]}}" hidden>
<input type="text" id="co300a499brlausd" value="{{cbrlausd[3]}}" hidden>
<input type="text" id="co500a999brlausd" value="{{cbrlausd[4]}}" hidden>
<input type="text" id="co1000a4999brlausd" value="{{cbrlausd[5]}}" hidden>
<input type="text" id="co5000a10000brlausd" value="{{cbrlausd[6]}}" hidden>
{% endfor %}
{% for inbrlausd in invbrlausd %}
<input type="text" id="in100a199brlausd" value="{{inbrlausd[1]}}" hidden>
<input type="text" id="in200a299brlausd" value="{{inbrlausd[2]}}" hidden>
<input type="text" id="in300a499brlausd" value="{{inbrlausd[3]}}" hidden>
<input type="text" id="in500a999brlausd" value="{{inbrlausd[4]}}" hidden>
<input type="text" id="in1000a4999brlausd" value="{{inbrlausd[5]}}" hidden>
<input type="text" id="in5000a10000brlausd" value="{{inbrlausd[6]}}" hidden>
{% endfor %}
<!--usdabrl//-->
{% for cusdabrl in cousdabrl %}
<input type="text" id="co100a199usdabrl" value="{{cusdabrl[1]}}" hidden>
<input type="text" id="co200a299usdabrl" value="{{cusdabrl[2]}}" hidden>
<input type="text" id="co300a499usdabrl" value="{{cusdabrl[3]}}" hidden>
<input type="text" id="co500a999usdabrl" value="{{cusdabrl[4]}}" hidden>
<input type="text" id="co1000a4999usdabrl" value="{{cusdabrl[5]}}" hidden>
<input type="text" id="co5000a10000usdabrl" value="{{cusdabrl[6]}}" hidden>
{% endfor %}
{% for inusdabrl in invusdabrl %}
<input type="text" id="in100a199usdabrl" value="{{inusdabrl[1]}}" hidden>
<input type="text" id="in200a299usdabrl" value="{{inusdabrl[2]}}" hidden>
<input type="text" id="in300a499usdabrl" value="{{inusdabrl[3]}}" hidden>
<input type="text" id="in500a999usdabrl" value="{{inusdabrl[4]}}" hidden>
<input type="text" id="in1000a4999usdabrl" value="{{inusdabrl[5]}}" hidden>
<input type="text" id="in5000a10000usdabrl" value="{{inusdabrl[6]}}" hidden>
{% endfor %}
<!--penausd//-->
{% for cpenausd in copenausd %}
<input type="text" id="co100a199penausd" value="{{cpenausd[1]}}" hidden>
<input type="text" id="co200a299penausd" value="{{cpenausd[2]}}" hidden>
<input type="text" id="co300a499penausd" value="{{cpenausd[3]}}" hidden>
<input type="text" id="co500a999penausd" value="{{cpenausd[4]}}" hidden>
<input type="text" id="co1000a4999penausd" value="{{cpenausd[5]}}" hidden>
<input type="text" id="co5000a10000penausd" value="{{cpenausd[6]}}" hidden>
{% endfor %}
{% for inpenausd in invpenausd %}
<input type="text" id="in100a199penausd" value="{{inpenausd[1]}}" hidden>
<input type="text" id="in200a299penausd" value="{{inpenausd[2]}}" hidden>
<input type="text" id="in300a499penausd" value="{{inpenausd[3]}}" hidden>
<input type="text" id="in500a999penausd" value="{{inpenausd[4]}}" hidden>
<input type="text" id="in1000a4999penausd" value="{{inpenausd[5]}}" hidden>
<input type="text" id="in5000a10000penausd" value="{{inpenausd[6]}}" hidden>
{% endfor %}
<!--usdapen//-->
{% for cusdapen in cousdapen %}
<input type="text" id="co100a199usdapen" value="{{cusdapen[1]}}" hidden>
<input type="text" id="co200a299usdapen" value="{{cusdapen[2]}}" hidden>
<input type="text" id="co300a499usdapen" value="{{cusdapen[3]}}" hidden>
<input type="text" id="co500a999usdapen" value="{{cusdapen[4]}}" hidden>
<input type="text" id="co1000a4999usdapen" value="{{cusdapen[5]}}" hidden>
<input type="text" id="co5000a10000usdapen" value="{{cusdapen[6]}}" hidden>
{% endfor %}
{% for inusdapen in invusdapen %}
<input type="text" id="in100a199usdapen" value="{{inusdapen[1]}}" hidden>
<input type="text" id="in200a299usdapen" value="{{inusdapen[2]}}" hidden>
<input type="text" id="in300a499usdapen" value="{{inusdapen[3]}}" hidden>
<input type="text" id="in500a999usdapen" value="{{inusdapen[4]}}" hidden>
<input type="text" id="in1000a4999usdapen" value="{{inusdapen[5]}}" hidden>
<input type="text" id="in5000a10000usdapen" value="{{inusdapen[6]}}" hidden>
{% endfor %}
<!--//-->
<div class="alto25"></div>
<center>
<div class="contpagcalc">
    <div>
        <div style="padding:35px;text-align:left;">
            <div class="titcaltxt">
                <span class="spam1calc">
                    Env&iacute;os de Soles, D&oacute;lares, y Reales a<br> 
                    Brasil y Per&uacute; al
                </span>
                <span class="spam2calc">
                    mejor tipo de cambio y<br>
                </span>
                <span class="spam1calc">
                    con una tarifa premium para sus env&iacute;os!
                </span>
            </div>
            <div class="alto50cal"></div>
            <div class="contcalcuadro">
                ¡Lo bueno se comparte!<br>
                Invita a un amigo y gana tus bonos BRASPER<p></p>
                <div style="display:flex;justify-content:flex-start;">
                    <div>
                        <div>
                            <input type="button" value="¡Invita Aqu&iacute;!" class="inputinvita" onclick="invita()">
                        </div>
                    </div>
                </div>
            </div>
            <div class="alto50cal"></div>
            <div class="spam3calc">
                <div class="spamcalc4">Y Lo mejor de todo!</div>
                <div class="spamcalc5">Tus envios llegan en minutos a tu cuenta de destino con toda la garant&iacute;a y seguridad Brasper.</div>
            </div>
            <!--<div class="alto50cal"></div>
            <span class="spam3calc">
                La mejor plataforma de transferencias online,<br> 
                r&aacute;pidas, seguras y directo a su cuenta de destino.
            </span>//-->
        </div>
    </div>
    <div class="fondoblan ventanacalculadora" id='ventanacalculadora'>
        <div class="txtcaltitu"> 
            Ingrese el Monto a Enviar
        </div>
        <div style="margin:auto;">
            <div class="centro alto15">
                <div class="padding10 txtroboto txt20" style="color:rgba(0,0,255,1);">
                    Envías
                </div>
                <div class="circuturquesa">
                    <div>
                        <input type='text' placeholder="0.00" id="inputmontoenviar">
                    </div>
                    <div id="enviomoneda">
                        <ul class="nav">
                            <li>
                                <div onclick="calculadora.resultado('penbrl')" style="display:flex;justify-content: flex-end;">
                                    <img src="{{url_for('static',filename='img/pen.png')}}" class="imagenbanderas">
                                    <div class="txtbanderas">&nbsp;PEN</div>
                                    <div class="cuadrosbanderaflex"></div>
                                </div>
                                <ul>
                                    <li>
                                        <div onclick="calculadora.resultado('usdbrl')" style="display:flex;justify-content: flex-end;">
                                            <img src="{{url_for('static',filename='img/pen.png')}}" class="imagenbanderas">
                                            <div class="txtbanderas">&nbsp;USD</div>
                                        </div>
                                    </li>
                                    <li>
                                        <div onclick="calculadora.resultado('brlpen')" style="display:flex;justify-content: flex-end;">
                                            <img src="{{url_for('static',filename='img/bra.png')}}" class="imagenbanderas">
                                            <div class="txtbanderas">&nbsp;BRL</div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div>
                    <input type='text' id="eletipmonenv" value='penbrl' hidden/>
                    {% for comis in comis %}
                        <input type="text" id="comision100a199" value="{{comis[1]}}" hidden>
                        <input type="text" id="comision200a299" value="{{comis[2]}}" hidden>
                        <input type="text" id="comision300a499" value="{{comis[3]}}" hidden>
                        <input type="text" id="comision500a999" value="{{comis[4]}}" hidden>
                        <input type="text" id="comision1000a4999" value="{{comis[5]}}" hidden>
                        <input type="text" id="comision5000a10000" value="{{comis[6]}}" hidden>
                    {% endfor %}
                    {% for calin in calcin %}
                        <input type="text" id="inversacomision100a199" value="{{calin[1]}}" hidden>
                        <input type="text" id="inversacomision200a299" value="{{calin[2]}}" hidden>
                        <input type="text" id="inversacomision300a499" value="{{calin[3]}}" hidden>
                        <input type="text" id="inversacomision500a999" value="{{calin[4]}}" hidden>
                        <input type="text" id="inversacomision1000a4999" value="{{calin[5]}}" hidden>
                        <input type="text" id="inversacomision5000a10000" value="{{calin[6]}}" hidden>
                    {% endfor %}
                    <input type="text" id="comisiontresporciento" value="0.03" hidden>
                    <input type="text" id="tcambio" hidden/>
                    <input type="text" id="tcomisi" hidden/>
                    <input type="text" id="timpues" hidden/>
                    <input type="text" id="ttotale" hidden/>
                    <input type="text" id="tenviar" hidden/>
                    <input type="text" id="trecibe" hidden/>
                    <input type="text" id="tmoneda" hidden/>
                    <input type="text" id="posiciona" hidden/>
                </div>
                <div id="errorenvio" style="font-weight:bold;line-height: 15px;font-family: 'Roboto', sans-serif;color:rgba(255,0,0,1);font-size:15px;text-align:center;"></div>
                <div id="operaciones">
                    <div class="centro txt25">
                        <div style="display:grid;">
                            <table>
                                <tr><td>
                                    <div class="calculadoratitulos">
                                        <div id="opcomision">Comisión:&nbsp;</div>
                                    </div>
                                </td><td>
                                    <div class="calculadoraresultados" id='numcomision'>
                                    </div>
                                </td><td>
                                     <div class="calculadoraresultados" id="tipodecomision">0.00</div>
                                </td></tr>
                                <tr><td>
                                    <div class="calculadoratitulos">
                                        Impuestos:&nbsp;
                                    </div>
                                </td><td>
                                    &nbsp;
                                </td><td>
                                    <div class="calculadoraresultados" id="tipodeimpuestos">0.00</div>
                                </td></tr>
                                <tr><td>
                                    <div class="calculadoratitulos">
                                        <div id="openviar">Total a Enviar:&nbsp;</div>
                                    </div>
                                </td><td>
                                    &nbsp;
                                </td><td>
                                    <div class="calculadoraresultados" id="tipototalenviar">0.00</div>
                                </td></tr>
                                <tr><td>
                                    <div class="calculadoratitulos">Tipo de cambio:&nbsp;</div>
                                </td><td>
                                    &nbsp;
                                </td><td>
                                    <div class="calculadoraresultados" id="tipodecambio">0.000</div>
                                </td></tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div id="operacionescupon"></div>
                <div>
                    <div class="txtroboto txt20" style="color:rgba(0,0,255,1);">
                        Recibe
                    </div>
                    <div class="circuturquesa">
                        <div id="finalenvios">
                            <input type='text' placeholder="0.00" id="tipototalrecibe">
                        </div>
                        <div id="recibemoneda">
                            <div style="display:flex;justify-content: flex-end;padding:3px;">
                                <img src="{{url_for('static',filename='img/bra.png')}}" class="imagenbanderas">
                                <div class="txtbanderas">&nbsp;BRA</div>
                                <div class="cuadrosbanderaflex"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="height:10px;"></div>
                <div class="btncupones">
                    <input type="text" placeholder="Ingresa aquí tu cupon" id="codcupcaladd">
                    <input type="button" value="APLICAR" onclick="calculadora.codcuponcal()">
                </div>
                <div style="height:10px;"></div>
                <div id="terminosycondiciones">
                    <div id="btnsiguientese" style="font-family: 'Roboto', sans-serif;">
                        <input type="checkbox" id="miCheckbox">&nbsp;
                        <a href="vistas/modulos/terminosycondiciones.pdf" target="_blank">
                            Acepto Términos y Condiciones
                        </a>
                    </div>
                    <div style="height:10px;"></div>
                    <div>
                        <div id="btnsiguiente" onclick="calculadora.mostrar()" class="inputinvita" style="width:250px;text-align:center;padding:10px;border-radius:5px;cursor:pointer;">
                            ENVIAR DINERO
                        </div>
                    </div>
                 </div>   
            </div>
        </div>
    </div>
</div>
</center>
{% block JS %}
    <script src="{{url_for('static',filename='js/calculadora.js')}}"></script>
    <script src="{{url_for('static',filename='js/invita.js')}}"></script>
{% endblock%}