{% block customCss %}
    <link rel="stylesheet" href="{{url_for('static',filename='css/ireacot.css')}}">
{% endblock %}
<div class="ifonrea">
    <div class="centro">
        <div class="altura35"></div>
        <div class="cuerpoflex">
            <div class="centro">
                <center>
                    <img src="{{url_for('static',filename='img/braspercel2.png')}}" class="imgmapa">
                </center>
            </div>
            <div class="centro txtcentro">
                Ingresa el monto a nuestra calculadora y realiza la conversión. Conoce el tipo de cambio y realiza la operación.
            </div>
        </div>
        <div class="altura35"></div>
    </div>
</div>