{% block customCss %}
    <link rel="stylesheet" href="{{url_for('static',filename='css/ireacot.css')}}">
{% endblock %}
<div class="ifonrea">
    <div class="centro">
        <div class="altura35"></div>
        <div class="cuerpoflex">
            <div class="centro">
                <center>
                    <img src="{{url_for('static',filename='img/braspercel2.png')}}" class="imgmapa">
                </center>
            </div>
            <div class="centro txtcentro">
                É só inserir o valor em nossa calculadora e realize a conversão. Conheça a taxa de câmbio e realize a operação.
            </div>
        </div>
        <div class="altura35"></div>
    </div>
</div>